.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Static files
public/

# Local environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# Parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Nuxt.js build output
.nuxt

# Ignore specific assets
frontend/src/assets/Inter/
star_ecom/public/store/assets/

.woff
.woff2